services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: test
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./spec/support/init-pg-data.sql:/docker-entrypoint-initdb.d/init-pg-data.sql

volumes:
  postgres_data:
